<div class='container'>
 <div class='row'>
   <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
     <h2>このサイトにおける注意事項</h2>
     <p>注意１　個人情報が分かる内容は絶対に書かない</p>
     <p>注意２　学校名や個人が分かる名称は絶対に書かない</p>
     <p>注意３　<h1>絶対に</h1>個人を中傷する内容は書かないこと</p>
   </div>
 </div>
</div>