<div class='container'>
  <div class='row'>
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>ようこそ<br>
      <i class="fas fa-school"></i><strong>EducationSalonへ</strong>‼</h1><br>
        <p>この<i class="fas fa-school"></i><strong>Education Salonでは</strong>, </p>
        <p>同じ志を持つ、教育実習がお互いの悩みを解決する場です</p>
        <p> お互いを高めあうことの大切に書き込んでください</p>
        <p>さあ、頑張って乗り切っていきましょう!!</p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= link_to 'ログイン',new_member_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
        </div>
        <div class="row">
          <%= link_to '入会',new_member_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %>
        </div>
      </div>
    </div>
  </div>
</div>