<div class='container'>
 <div class='row'>
   <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h1>アドバイス編集</h1>
    <%= render 'form', advice: @advice %>
    <%= link_to 'show', advice_path(@advice), class: "advice_#{@advice.id}" %>
    <%= link_to 'Back', advices_path, class: "back" %>
   </div>
 </div>
</div>