// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#box{
  height: 500px;
}
.image1 {
  background-image: url("school.jpg");
}
.image2 {
  background-image: url("textbook.jpg");
}
.image3 {
  background-image: url("choke.jpg");
}
.image4 {
  background-image: url("blackboard.jpg");
}

.rule{
  background-image: url("whiteboard.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}